<html>
    <head>
        <link href="css/index.css" type="text/css" rel="stylesheet"/>
    </head>

    <body>

        <form method="post" action="/login">
            用户名：<input name="username"/>
            密码：<input name="password"/>

            <button type="submit">提交</button>
        </form>
    </body>

</html>